<div nz-row [nzGutter]="24" class="header-page">

    <div nz-col nzXs="24" nzMd="18">
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          Home
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a>Usuário</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          Cadastro
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  
    <div nz-col nzXs="24" nzMd="6" class="text-right back">
      <button nz-button nzType="default" nzShape="round" routerLink="/user">
        <i nz-icon nzType="arrow-left" nzTheme="outline"></i>Listagem
      </button>
    </div>
  
  </div>
  <br>
  
  <form nz-form [formGroup]="userForm" class="login-form">
    <div nz-row [nzGutter]="24">
  
      <div nz-col nzXs="24" nzMd="6">
        <nz-form-item>
          <nz-form-control nzErrorTip="Por favor informe o código!">
            <nz-form-label nzRequired nzFor="name">Nome</nz-form-label>
            <input type="text" nz-input formControlName="name" placeholder="Ex: Matheus Costa" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzMd="10">
        <nz-form-item>
          <nz-form-control nzErrorTip="Por favor informe o e-mail!">
            <nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>
            <input type="text" nz-input formControlName="email" placeholder="Ex: mcostap80@gmail.com" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzMd="8">
        <nz-form-item>
          <nz-form-control nzErrorTip="Por favor informe a uma senha!">
            <nz-form-label nzRequired nzFor="password">Senha</nz-form-label>
            <input type="password" nz-input formControlName="password" placeholder="Informe uma senha" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  
    <div nz-row [nzGutter]="24">
      <div nz-col nzXs="0" nzMd="18">
        <i>Campos com * são obrigatórios</i><br>
      </div>
      <div nz-col nzXs="24" nzMd="6" class="text-right">
        <nz-form-item>
          <nz-form-control nzErrorTip="Por favor informe a unidade de medida!">
            <span></span>
            <button (click)="save()" [disabled]="userForm.invalid" nz-button nzType="primary">Salvar Usuário</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  
  </form>
  